{% extends 'anime_forum/base.html' %}

{% block content %}
<section class="posts">
    <h3>Posts in Thread: {{ thread.title }}</h3>
    <h3>Desc: {{ thread.content }}</h3>
    <br>
    <div class="post-list">
        {% for post in posts %}
            <div class="post-item">
                <div class="post-item-header">
                    <h4>{{ post.user.username }}</h4>
                    <span class="post-date">{{ post.created_at }}</span>
                    {% if post.user == request.user %}
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-secondary">Edit</a>
                    {% endif %}
                </div>
                <p>{{ post.content }}</p>
            </div>
            <br>
        {% endfor %}
    </div>
</section>
{% if user.is_authenticated %}
<section class="create-post">
    <h3>Create New Post</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</section>
    {% endif %}
{% endblock %}



